<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NMaier.SimpleDlna.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NMaier.SimpleDlna.GUI.Properties.Settings>
            <setting name="cache" serializeAs="String">
                <value/>
            </setting>
            <setting name="port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filelogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startminimized" serializeAs="String">
                <value>False</value>
            </setting>
        </NMaier.SimpleDlna.GUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
